
<!-- <nav class="flex justify-between p-4 bg-purple-900 text-white"> -->
    <!-- <div>
        <a class = mx-4 routerLink="/men">Men</a>
        <a class = mx-4 routerLink="/women">Women</a>
        <a class = mx-4 routerLink="/kids">Kids</a>
        <a class = mx-4 routerLink="/books">Books</a>
        
    </div> -->
    <nav class="flex items-center justify-between p-4 bg-gray-800 text-white">
        <div href="#" class="flex items-center" routerLink="/">
            <img src="assets/logo.png" alt="Your Logo" class="h-16 w-40" />
          </div>
        <div class="flex items-center space-x-4">
            <a href="#" class="hover:text-gray-300" routerLink="/men">Men</a>
            <a href="#" class="hover:text-gray-300" routerLink="/women">Women</a>
            <a href="#" class="hover:text-gray-300" routerLink="/kids">Kids</a>
            <a href="#" class="hover:text-gray-300" routerLink="/books">Book</a>
        </div>
    <div class="flex items-center space-x-8">


            <!-- Your main navigation and other components go here -->
            <a routerLink="/wishlist">Wishlist</a>
            <a *ngIf="isUserLoggedIn()" class = "mx-4" routerLink="/cart">My Cart</a>
            <ng-container *ngIf="!isUserLoggedIn()">
                <a class = mx-4 routerLink ="/login">Login</a>
                <a class = mx-4 routerLink ="/register">Register</a>
            </ng-container>
            <ng-container *ngIf="isUserLoggedIn()">
                <button (click) = "logout()" class="mx-4">Logout</button>
            </ng-container>
            
        </div>

    </nav>

<div class="p-4">
    <router-outlet></router-outlet>
</div>    


