<div class="bg-blue-500 text-white text-center py-16">
  <h1 class="text-4xl font-bold">Welcome to Our Shopping Website</h1>
  <p class="mt-4">Discover the latest trends and great deals!</p>
</div>


<div class="container mx-auto mt-8">
  <div class="text-center">
      <h2 class="text-4xl font-semibold mb-4">Featured Products</h2>
    </div>
    <div class="mt-12">
      <h2 class="text-4xl font-semibold mb-4">Shop by Category</h2>
      <div class="flex flex-wrap -mx-4">
        <div *ngFor="let category of categories" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-8">
          <div class="bg-white p-4 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-2">{{ category }}</h3>
            <p class="text-gray-600 mb-2">Discover our collection of {{ category.toLowerCase() }} products.</p>
            <a routerLink="/products" class="text-indigo-600 hover:underline">Explore {{ category }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 
    <div class=" grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8" id="produc">
      <div *ngFor="let product of featuredProducts" class="bg-white p-4 rounded-lg shadow-md">
        <img [src]="product.imageUrl" alt="Product Image" class="w-full">
        <h3 class="text-xl font-semibold mb-2">{{ product.name }}</h3>
        <p class="text-gray-600 mb-2">{{ product.price | currency:'INR'}}</p>
        <button class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700">
          Add to Cart
        </button>
      </div>
    </div>
  -->
  
  
  
  
  <h1 class="animated-heading">
      <span class="txt">Men Clothes</span><span class="txt">Women clothes</span><span class="txt">Kids Clothes</span><span class="txt">Books</span>
      <!-- <span class="txt">P</span><span class="txt">R</span><span class="txt">U</span><span class="txt">T</span><span class="txt">H</span><span class="txt">V</span><span class="txt">I</span><span class="txt">R</span><span class="txt">A</span><span class="txt">J</span> -->
   </h1>